body {
  /* solid background */


  /* gradient background*/


  /* photo background */
  background-image: url('/static/images/abigail-keenan-8-s5QuUBtyM-unsplash.jpg');
  background-size: cover;
  background-position: center;

  /* Flexbox for centering */

  align-items: center;
  justify-content: center;

  height: 100vh; /* Full viewport height */
  margin: 0;
}

.centering-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stacks content vertically if needed */
}

.container-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: center;
  width: 60%;
  position: relative;
  top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically centers the content */
  gap: 20px; /* Adds space between the two columns */
}

.column-text {
  display: flex;
  flex-direction: column; /* Ensures content in each column stacks vertically */
  justify-content: center; /* Vertically centers the content */
  align-items:left;
  max-width: 40%;
  padding:10px;
  padding-left:20px;
}

.banner-image {
    margin:10px;
    border-radius: 12px;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 600px;

  border: 1px solid rgba(255, 255, 255, 0.255);

}

.button-container {
    margin-top:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Stacks content vertically if needed */
}

h1 {
  font-family: 'Righteous', sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: left;
}

p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.button-wrapper {
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}
