{% extends 'navbar.html' %}
{% block head %}
    <title>Auction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="row ">
                <div class = "column">
                    <div class="banner-image">
                    </div>
                    <h1> {{player.name}}</h1>
                </div>
                <div class = "column">
                    <p>{{player.pos}}</p>
                    <p>{{player.ach}}</p>


                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center">

                <div class="col">
                    <form action="{{ url_for('player_card', player_id=player.id) }}" method="post">
                        <button class="btn outline">Sell</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{ url_for('auction', pool_id=player.pool) }}" method="get">
                        <button class="btn fill">Next</button>
                    </form>
                </div>

        </div>
    </div>
{% endblock %}
